
.icon-dribbble:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-phone:before { content: '\e802'; } /* '' */
.icon-instagram:before { content: '\f05d'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-skype:before { content: '\f339'; } /* '' */
